{% extends 'urlshorter/base.html' %}

{% block title %}短網址縮短應用程式{% endblock title %}

{% block body %}
<div class="card mt-5">
    <div class="card-header text-center py-3">
        <h1>URL Shortener Application <i class="fas fa-link px-2"></i></h1>
    </div>
    <div class="px-3 py-4">
        <form id="shorten-url-form">
            <div class="row g-1">
                <div class="col-10">
                    <input type="url" class="form-control" id="longUrl" placeholder="Enter long URL" required>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-lg w-100" id="submitBtn">Shorten</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="alert alert-danger mt-4 d-none" id="errorAlert" role="alert">
    <p>發生錯誤，請重試。</p>
</div>

<div class="mx-auto text-center mt-5 d-none" id="resultSection">
    <h2 class="text-danger">Shortened URL</h2>
    <p>Copy your URL:</p>
    <p><a href="#" id="shortenedUrl" target="_blank"></a></p>
    <p><span class="text-danger">Original URL:</span> <span id="originalUrl"></span></p>
</div>

<div class="mt-5 text-center">
    <a href="{% url 'shorter:short_url_list' %}" class="btn btn-primary">View Shortened URLs</a>
</div>

<script>
    document.getElementById('submitBtn').addEventListener('click', async function() {
        const longUrl = document.getElementById('longUrl').value;
        const errorAlert = document.getElementById('errorAlert');
        const resultSection = document.getElementById('resultSection');
        const shortenedUrl = document.getElementById('shortenedUrl');
        const originalUrl = document.getElementById('originalUrl');

        // Reset visibility
        errorAlert.classList.add('d-none');
        resultSection.classList.add('d-none');

        try {
            const response = await fetch('/api/shorten/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // 確保 CSRF token 正確
                },
                body: JSON.stringify({ long_url: longUrl })  // 使用 long_url 作為鍵
            });

            const data = await response.json();
            if (response.ok) {
                // Show the result
                shortenedUrl.href = data.new_url;
                shortenedUrl.textContent = data.new_url;
                originalUrl.textContent = data.long_url;
                resultSection.classList.remove('d-none');
            } else {
                // Show the error
                errorAlert.classList.remove('d-none');
                console.error(data.errors);  // Log errors to console for debugging
            }
        } catch (error) {
            // Show the error
            errorAlert.classList.remove('d-none');
            console.error('Error:', error);
        }
    });
</script>
{% endblock body %}
